@font-face {
  font-family: 'Rajdhani-SemiBold';
  src: local('Rajdhani-Semibold'), url(./fonts/Rajdhani-SemiBold.ttf) format('truetype');
}



body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rajdhani-SemiBold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
